.root {
    text-decoration: none;
    transition: color 0.2s ease;
    box-sizing: border-box;

    &:where(.disabled) {
        color: var(--partners-link-disable, $gray-five);
        cursor: not-allowed;
        pointer-events: none;
    }

    &:active:not(:disabled) {
        transform: translateY(1px);
    }
}
